#Head {
margin:0 auto 170px auto;
width: 100%;
position: absolute;
}

#pustoi {
margin:auto;
width: 100%;	
}

#obertka {
background-color: #ffffff;
height:200px;
width: 100%;
min-width: 1024px;
position: absolute;
top: 0;
left:0;	
z-index:2;
}

#Name {
position: absolute;
top: 10px;
margin-left: -512px;
min-width: 1024px;
left: 50%;
}

#slog1 {
font-family: 'Bikham Cyr Script', arial;
position: absolute;
left: 165px;
top: -10px;
font-size: 50px;	
}

#slog2 {
font-family: 'Bikham Cyr Script', arial;
position: absolute;	
font-size: 50px;
top: 23px;
left: 685px;
}

#Navi {
width: 100%;
height: 30px;
float: left;
position: absolute;
z-index: 3;
top: 170px;
}

ul {
display: table;
width: auto;
margin: 0 auto; 
list-style: none;
font-size: 20px;
padding: 0;
font-family: 'Micra', arial;
}

li.nav {
float: left; 
overflow: hidden;
text-align: center;
font-weight: bold;
position: relative;  
cursor: default;
padding-left: 40px;
padding-right: 40px; 
}

li a {
text-decoration: #363B4D;	
}

li a:active {
color:#363B4D;	
}

li a:visited {
color:#363B4D;	
}

Body {
background-image: url(../image/Metal.png);	
}

#Home {
position: absolute;
top:11px;
left:7px;
z-index:5;	
}

#top {
position: fixed;
bottom: 20px;
right: 10px;	
}

#Footer {
width: 100%;	
height: 50px;
position: absolute;
}

#text {
background-image: url(../image/background13.jpg);
width: 930px; 
margin: 230px auto 50px -485px;
padding-left: 20px;
padding-right: 20px;
position: absolute;
left: 50%;
}

p.text {
font-size: 20px;
text-indent: 25px;
text-align: justify;
font-family: 'Open Sans', arial; 	
}

#Zaglavie {
text-indent: 70px;	
color: #C0080E;
font-family: 'a_LCDNova', arial;
font-style: italic;
text-decoration:underline;
}

span.bold {
font-weight: bold;	
} 

#panel {
position: fixed;
top: 65px;
left: 6px; 
width: 40px;
height: 50px;
font: 14px Arial;
text-align: left; 
padding: 0; 
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-border-radius: 0 5px 5px 0;
-moz-border-radius: 0 5px 5px 0;
border-radius: 0 5px 5px 0;
z-index:5;
}

#hidden_panel {
position: fixed; 
top: 0; 
background: rgba(153,162,181, 0.4);
left: -190px; 
width: 180px;
height: 95px; 
padding: 5px 3px; 
text-align: left; 
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-border-radius: 0 5px 5px 0;
-moz-border-radius: 0 5px 5px 0;
border-radius: 0 5px 5px 0;
}
	
#panel:hover {
left: 190px;
}

#panel:hover #hidden_panel {
left: 0;
}

a.menu p {
font-size: 10px;
color: #F52D07;
}